* {
  margin: 0;
  padding: 0%;
  font-size: 1rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 81%);
  display: flex;

  justify-content: center;
}
.container {
  background-color: hsl(0, 0%, 81%);
  display: flex;
  /* margin: 100px auto 100px; */
  width: 1100px;
  height: 580px;
  margin-top: 80px;
  flex-wrap: wrap;
}
.top-left,
.top-right,
.bottom-right,
.bottom-left,
.block-right {
  border-radius: 10px;
}
.block-left {
  display: flex;
  flex-direction: column;
  height: 612px;
  width: 800px;
}
.block-left-upper {
  display: flex;
  margin-bottom: 15px;
  width: 800px;
  height: 290px;
}
.block-left-bottom {
  display: flex;
  width: 800px;
  height: 290px;
}

.top-left {
  background-color: hsl(263, 55%, 52%);
  color: white;
  margin-right: 15px;
  width: 530px;
  height: 290px;
}
.top-right {
  background-color: hsl(217, 19%, 35%);
  color: white;
  width: 230px;
  height: 290px;
}
.bottom-right {
  background-color: hsl(219, 29%, 14%);
  color: white;
  width: 530px;
  height: 290px;
}
.bottom-left {
  background-color: white;
  margin-right: 15px;
  width: 230px;
  height: 290px;
}
img {
  border-radius: 50%;
  width: 37px;
  border: thistle solid 2px;
  margin-right: 13px;
}
.upper-card {
  display: flex;
  margin: 10px 15px 20px;
}
.block-right {
  width: 270px;
  height: 593px;
  display: block;
  align-self: stretch;
  background-color: white;
}
span {
  opacity: 0.5;
}
h4 {
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: larger;
}
p {
  opacity: 0.7;
  margin: 15px 15px;
}
@media screen and (max-width: 1290px) {
  .container {
    height: 870px;
    justify-content: center;
  }

  .block-left {
    margin: 0px;

    width: 785px;
  }
  .block-right {
    height: 250px;
    width: 780px;
    margin: 0px;
  }
}
@media screen and (max-width: 940px) {
  .container {
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .block-left {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right,
  .block-right {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
